<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img id="headlogo" src="assets/images/HEAD_LOGO.png"></ion-img>
    </ion-buttons>
    <ion-title>{{ mydata.allmessages.finish_title }}</ion-title>
    <ion-buttons slot="end" (click)="exitPage()">
      <ion-button>
        {{ mydata.allmessages.finish_quit }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <div id="containerflex">
    <div id="container">
      <ion-card>
      
        <ion-card-content>

          <table style="width:100%">
            <tr>
              <td>
                <ion-img class="egg" src="assets/images/Easter-Egg-left2.png"></ion-img>
              </td>
              <td>
                <ion-card-title>{{ mydata.allmessages.finish_card_title }}</ion-card-title>
                {{ mydata.allmessages.finish_card_content }}
                
              </td>
              <td>
                <ion-img class="egg" src="assets/images/Easter-Egg-right2.png"></ion-img>
              </td>
            </tr>
          </table>

          <br>
                <img id="finishimg" src="assets/images/FINISH.png" alt="">

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ mydata.allmessages.finish_cardtime_title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p class="score">{{ mydata.allmessages.finish_cardtime_content }} {{mytime_min}} min. {{mytime_sec}} sec.</p>
          <p class="saving"*ngIf="spinner && mydata.allvariables.with_db" ><ion-spinner name="bubbles"></ion-spinner> <span>{{ mydata.allmessages.finish_cardtime_saving }}</span></p>
          <p class="saving" *ngIf="share"><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//cesarmiguel85.github.io/EggHunt2020/&title=Virtual%20Easter%20Egg%20Hunt%202020&summary=Take%20a%20short%20trip%20around%20the%20world%20with%20this%20virtual%20Easter%20egg%20hunt!%0AI%20just%20did%20it%20and%20got%20a%20score%20of%20min.%20sec..&source=https%3A//cesarmiguel85.github.io/EggHunt2020/"><ion-button>{{mydata.allmessages.finish_share_text1}} <ion-icon name="logo-linkedin"></ion-icon></ion-button></a></p>
        
        </ion-card-content>
      </ion-card>

      <div id="ranking" *ngIf="mydata.allvariables.with_db">
        <ion-button color="success" (click)="GoToRanking()">{{ mydata.allmessages.finish_ranking }}</ion-button>
      </div>

      <div id="margin" >
        
      </div>

    </div>
    <div id="footer"></div>
  </div>

</ion-content>
