<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img id="headlogo" src="assets/images/HEAD_LOGO.png"></ion-img>
    </ion-buttons>
    <ion-title>{{ mydata.allmessages.ranking_title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="containerflex">
    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ mydata.allmessages.ranking_card_title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ mydata.allmessages.ranking_card_content }}
          <br>
          <div id="tablecontainer">
            <ion-spinner *ngIf="spinner" name="bubbles"></ion-spinner>
            <div *ngIf="dataRAW.length===0 && !spinner">{{this.mydata.allmessages.ranking_empty}}</div>

            <table *ngIf="dataRAW.length>0" class="rankingtable">
              <tr>
                <th *ngFor="let head of this.headers; let i = index;">
                  {{this.mydata.allmessages.ranking_table_header[i]}}
                </th>
              </tr>
              <tr *ngFor="let data of dataRAW; let r=index;">
                <td *ngFor="let header of this.headers; let c=index;">
                  <div *ngIf="c===0 && r===0">🥇</div><div *ngIf="c===0 && r===1">🥈</div><div *ngIf="c===0 && r===2">🥉</div>
                  {{ data[header] }}
                </td>
              </tr>
            </table>
          </div>
        </ion-card-content>
      </ion-card>

      <div id="margin" >

      </div>

    </div>
    <div id="footer"></div>
  </div>
  
</ion-content>
